<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>519257135397-525kn6b4qgkce73bapfcg61svsgtpjvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.519257135397-525kn6b4qgkce73bapfcg61svsgtpjvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDI_emAzW3g1Cdz8BGRbQ_ZgNZY6zI0wsk</string>
	<key>GCM_SENDER_ID</key>
	<string>519257135397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avram.pushmynotifs</string>
	<key>PROJECT_ID</key>
	<string>pushmynotifs-88f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>pushmynotifs-88f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:519257135397:ios:42684b3df6bec02f</string>
	<key>DATABASE_URL</key>
	<string>https://pushmynotifs-88f8f.firebaseio.com</string>
</dict>
</plist>